/* Estilo general */
body {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

/* Estructura de la página */
.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  grid-area: header;
  border: 5px solid rgb(235, 18, 18);
  background-color: blue;
  align-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 75px;
  height: 50px;
}

.content {
  flex: 1; /* Esto hace que el contenido principal ocupe todo el espacio disponible */
  border: 5px solid rgb(221, 255, 0);
  background-color: rgb(104, 179, 129);
}

.inicio {
  height: 40vh;
  border: 5px solid rgb(163, 234, 10);
  background-color: rgb(218, 111, 29);
}

.inicioContainer {
  margin-top: 70px;
  text-align: center;
  padding: 10px;
}

.marcas {
  border: 5px solid rgb(247, 18, 18);
  background-color: rgb(0, 0, 0);
  height: 30vh;
}

.marcasContainer {
  margin-top: 16px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border: 5px solid rgb(227, 12, 220);
  background-color: rgb(0, 229, 255);
  height: 150px;
}

.marcasTextoContainer {
  margin: 0 auto;
  width: 203px;
  text-align: center;
  border: 5px solid rgb(106, 94, 106);
  background-color: rgb(219, 94, 16);
}

.marcaContainer {
  margin: 5px 10px 5px 5px;
  padding: 5px;
  border: 5px solid rgb(28, 254, 66);
  text-align: center;
  width: 80px;
  background-color: rgb(105, 94, 94);
}

.productContainer1 {
  background-color: black;
}

.productContainer2 {
  background-color: rgb(219, 15, 15);
}

.productContainer {
  display: flex;
}

.productImage {
  border: 5px solid rgb(28, 254, 66);
  background-color: rgb(105, 94, 94);
  width: fit-content;
  margin: 10px 10px;
}

.productImage > img {
  width: 405px;
  height: 250px;
}

.productTitle {
  width: 150px;
  margin: 14px auto 0px auto;
  padding: 0px 8px;
  border: 5px solid rgb(255, 15, 19);
  background-color: rgb(105, 94, 94);
}

.productParagraph {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.productDescript {
  padding: 10px;
  margin-left: 40px;
}

.footer {
  border: 5px solid rgb(187, 0, 255);
  background-color: rgb(218, 111, 29);
  text-align: center;
  padding: 1em;
}

/* Media Query para pantallas angostas (menores a 768px) */
@media (max-width: 768px) {
  .productImage > img {
    width: 255px;
    height: 140px;
  }
}
