/* Estilo general */
body {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(-6deg, #668, black) !important;
}

/* Estructura de la página */
.layout {
  display: grid;
  margin: 0px 50px;
  grid-template-areas:
    "header header header header"
    "content content content lateral"
    "footer footer footer footer";
  grid-template-rows: 75px auto 150px;
  grid-template-columns: 28% 28% 28% 16%;
}

header {
  grid-area: header;
  background-color: #000000;
  align-content: center;
  color: white;
}

.container-fluid button {
  float: right;
}

.custom-dropdown {
  display: none;
  position: absolute;
  top: 50px; /* Ajusta según la posición del botón */
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
}

.custom-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-dropdown ul li {
  padding: 8px 12px;
}

.custom-dropdown ul li a {
  text-decoration: none;
  color: #000;
}

.custom-dropdown ul li:hover {
  background-color: #f1f1f1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  margin: 0px 0px;
}

.navdata {
  width: 500px;
}

ul {
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo h3 {
  margin-left: 13px;
  margin-top: 11px;
  font-family: fantasy;
}

.logo img {
  width: 123px;
  height: 59px;
}

.content {
  grid-area: content;
  background: linear-gradient(14deg, black, gray);
  min-height: 125vh;
}

.aside {
  grid-area: lateral;
  background-color: #155724;
}

.dataContainer {
  margin-bottom: 15px;
}

section {
  border-radius: 1%;
}

.jumbo {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 0 auto;
  background-color: #f8f9fa; /* Color de fondo suave */
  border-radius: 0.5rem; /* Bordes ligeramente redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  padding: 2rem; /* Espaciado interno */
  /* margin: 1rem 0; Margen para separación */
  text-align: center; /* Alinear texto al centro */
}

.jumbo-dark {
  background-color: rgba(52, 58, 64, 0.94);
  color: #ffffff; /* Color de texto blanco */
}

.inicio {
  height: 100vh;
  background-image: url("/public/images/heroimage.jpg"); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex; /* Utiliza Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.inicioContainer {
  text-align: center;
  padding: 10px;
}

.inicioTitulo button {
  margin-top: 20px;
}

.marcas {
  background-color: #343a40;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marcasContainer {
  padding: 5px;
  display: flex;
  flex-direction: row;
  height: 185px;
  padding-top: 20px;
  width: fit-content;
  margin: 0 auto;
}

.marcasTextoContainer {
  margin: 44px auto 0 auto;
  width: 203px;
  text-align: center;
}

.marcaContainer {
  margin: 5px 23px;
  padding: 10px;
  text-align: center;
  width: 129px;
  background-color: #dae9f8; /* Color de fondo suave */
  border-radius: 0.5rem; /* Bordes ligeramente redondeados */
  /* margin: 1rem 0; Margen para separación */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

.marcaContainer p {
  margin-top: 40px;
}

.productContainer1 {
  background-color: black;
}

.productContainer2 {
  background-color: rgb(219, 15, 15);
}

.productContainer {
  display: flex;
}

.productImage {
  border: 5px solid rgb(28, 254, 66);
  background-color: rgb(105, 94, 94);
  width: fit-content;
  margin: 10px 10px;
}

.productImage > img {
  width: 405px;
  height: 250px;
}

.productTitle {
  width: 150px;
  margin: 14px auto 0px auto;
  padding: 0px 8px;
  border: 5px solid rgb(255, 15, 19);
  background-color: rgb(105, 94, 94);
}

.productParagraph {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.productDescript {
  padding: 10px;
  margin-left: 40px;
}

.cotizadorTitle {
  text-align: center;
  margin: 20px 0px 35px;
}

.cotizadorContainer {
  background: gainsboro;
  border-radius: 8px;
  padding: 0px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 80vh;
}

.cotizadorFormContainer {
  text-align: left;
  margin: 0 auto;
}

.cotizadorInputContainer {
  display: flex;
  justify-content: space-between;
}

.cotizadorInputContainer select {
  width: 243px;
}

.cotizadorButtonContainer {
  margin: 35px 0 20px 0;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #000000;
  text-align: center;
  padding: 1em;
  color: white;
}

/* Media Query para pantallas angostas (menores a 768px) */
@media (max-width: 768px) {
  .productImage > img {
    width: 255px;
    height: 140px;
  }
}
