-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: cotizan2
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `categor├¡as`
--

DROP TABLE IF EXISTS `categor├¡as`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categor├¡as` (
  `ID_Categor├¡a` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  PRIMARY KEY (`ID_Categor├¡a`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categor├¡as`
--

LOCK TABLES `categor├¡as` WRITE;
/*!40000 ALTER TABLE `categor├¡as` DISABLE KEYS */;
INSERT INTO `categor├¡as` VALUES (16,'evev'),(17,'amortiguador');
/*!40000 ALTER TABLE `categor├¡as` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compatibilidad`
--

DROP TABLE IF EXISTS `compatibilidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compatibilidad` (
  `ID_Compatibilidad` int NOT NULL AUTO_INCREMENT,
  `ID_Pieza` int DEFAULT NULL,
  `Marca_Veh├¡culo` varchar(255) DEFAULT NULL,
  `Modelo_Veh├¡culo` varchar(255) DEFAULT NULL,
  `A├▒o_Inicio` int DEFAULT NULL,
  `A├▒o_Fin` int DEFAULT NULL,
  PRIMARY KEY (`ID_Compatibilidad`),
  KEY `ID_Pieza` (`ID_Pieza`),
  CONSTRAINT `compatibilidad_ibfk_1` FOREIGN KEY (`ID_Pieza`) REFERENCES `piezas` (`ID_Pieza`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compatibilidad`
--

LOCK TABLES `compatibilidad` WRITE;
/*!40000 ALTER TABLE `compatibilidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `compatibilidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disponibilidad`
--

DROP TABLE IF EXISTS `disponibilidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disponibilidad` (
  `ID_Disponibilidad` int NOT NULL AUTO_INCREMENT,
  `ID_Distribuidor` int DEFAULT NULL,
  `ID_Pieza` int DEFAULT NULL,
  `Cantidad` int DEFAULT NULL,
  `Precio` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`ID_Disponibilidad`),
  KEY `ID_Pieza` (`ID_Pieza`),
  KEY `disponibilidad_ibfk_1` (`ID_Distribuidor`),
  CONSTRAINT `disponibilidad_ibfk_1` FOREIGN KEY (`ID_Distribuidor`) REFERENCES `distribuidores` (`ID_Distribuidor`) ON DELETE CASCADE,
  CONSTRAINT `disponibilidad_ibfk_2` FOREIGN KEY (`ID_Pieza`) REFERENCES `piezas` (`ID_Pieza`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disponibilidad`
--

LOCK TABLES `disponibilidad` WRITE;
/*!40000 ALTER TABLE `disponibilidad` DISABLE KEYS */;
INSERT INTO `disponibilidad` VALUES (17,11,22,12323,232.00),(18,11,23,3434,4343.00);
/*!40000 ALTER TABLE `disponibilidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distribuidores`
--

DROP TABLE IF EXISTS `distribuidores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distribuidores` (
  `ID_Distribuidor` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `Direcci├│n` varchar(255) DEFAULT NULL,
  `Tel├®fono` varchar(20) DEFAULT NULL,
  `Email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID_Distribuidor`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distribuidores`
--

LOCK TABLES `distribuidores` WRITE;
/*!40000 ALTER TABLE `distribuidores` DISABLE KEYS */;
INSERT INTO `distribuidores` VALUES (11,'casd','cwdacwc','132213','cwqce@gmail.com'),(12,'nuevodistri','distridireccion','2932938923','districorreo@gmail.com');
/*!40000 ALTER TABLE `distribuidores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marcas`
--

DROP TABLE IF EXISTS `marcas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marcas` (
  `ID_Marca` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  PRIMARY KEY (`ID_Marca`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marcas`
--

LOCK TABLES `marcas` WRITE;
/*!40000 ALTER TABLE `marcas` DISABLE KEYS */;
INSERT INTO `marcas` VALUES (17,'vere'),(18,'adowmo');
/*!40000 ALTER TABLE `marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `piezas`
--

DROP TABLE IF EXISTS `piezas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `piezas` (
  `ID_Pieza` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) NOT NULL,
  `ID_Categor├¡a` int DEFAULT NULL,
  `ID_Marca` int DEFAULT NULL,
  PRIMARY KEY (`ID_Pieza`),
  KEY `ID_Categor├¡a` (`ID_Categor├¡a`),
  KEY `ID_Marca` (`ID_Marca`),
  CONSTRAINT `piezas_ibfk_1` FOREIGN KEY (`ID_Categor├¡a`) REFERENCES `categor├¡as` (`ID_Categor├¡a`),
  CONSTRAINT `piezas_ibfk_2` FOREIGN KEY (`ID_Marca`) REFERENCES `marcas` (`ID_Marca`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `piezas`
--

LOCK TABLES `piezas` WRITE;
/*!40000 ALTER TABLE `piezas` DISABLE KEYS */;
INSERT INTO `piezas` VALUES (22,'rvvrrv',16,17),(23,'amortiguador',17,18);
/*!40000 ALTER TABLE `piezas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-09-02 15:55:09
